/JAVA/L00005_lab5/nbproject/private/
/JAVA/L00006_lab6/nbproject/private/
/JAVA/L00006_lab6_additional_task1/nbproject/private/
/JAVA/L00006_lab6_additional_task1/build/
/JAVA/Testproject/nbproject/private/
/JAVA/Lesson/nbproject/private/
/JAVA/MVSproject/nbproject/private/
/JAVA/L00006_lab6_additional_tasks/nbproject/private/
/JAVA/L00006_lab6_additional_tasks/build/
/JAVA/L00007_lab7/nbproject/private/
/JAVA/L00007_lab7/build/
/JAVA/L00006_lab6_additional_tasks/dist/
/JAVA/L00008_lab8/nbproject/private/
/JAVA/JCFProject/nbproject/private/
/JAVA/SuperShop/nbproject/private/
/JAVA/Zooproject/nbproject/private/
/JAVA/L00008_lab8/build/
/JAVA/DuckProject/nbproject/private/
/JAVA/InheritanceTestProject/nbproject/private/
/JAVA/L00009_lab9_ArrayList/nbproject/private/
/JAVA/L00010_lab10_StrategyPattern/nbproject/private/
/JAVA/jUnitProject/nbproject/private/
/JAVA/L00008_lab8_Massive/nbproject/private/
/JAVA/DuckProject/build/
/JAVA/L00008_lab8_Massive/build/
/JAVA/L00008_lab8_Massive/dist/
/JAVA/L00009_lab9_ArrayList/build/