/JAVA/L00003_lab3_additional_tasks2/nbproject/private/
/JAVA/L00003_lab3_additional_tasks4/nbproject/private/
/JAVA/L00003_lab3_additional_tasks4/build/
/JAVA/L00003_lab3_additional_tasks1/nbproject/private/
/JAVA/L00003_lab3_additional_tasks3/nbproject/private/
/JAVA/L00003_lab3_additional_tasks5/build/
/JAVA/L00003_lab3_additional_tasks6/nbproject/private/
/JAVA/L00004_lab4/nbproject/private/
/JAVA/L00003_lab3_additional_tasks6/build/
/JAVA/L00004_lab4/build/
/JAVA/L00003_lab3_additional_tasks3/build/
/JAVA/L00005_lab5/nbproject/private/
/JAVA/L00004_lab4/dist/
/JAVA/L00005_lab5/build/
/JAVA/L00005_lab5/dist/
/JAVA/L00006_lab6/nbproject/private/
/JAVA/MVSproject/nbproject/private/
/JAVA/L00006_lab6/build/
/JAVA/MVSproject/build/
/JAVA/Zooproject/nbproject/private/
/JAVA/JCFProject/nbproject/private/
/JAVA/L00006_lab6/dist/
/JAVA/L00006_lab6_additional_tasks1/nbproject/private/
/JAVA/L00006_lab6_additional_task1/nbproject/private/
/JAVA/HTML5Application/nbproject/private/
/JAVA/L00006_lab6_additional_tasks/nbproject/private/
/JAVA/L00007_lab7/nbproject/private/
/JAVA/L00008_lab8/nbproject/private/
/JAVA/L00007_lab7/build/
/JAVA/L00007_lab7/dist/
/JAVA/L00007_lab7_taskA/nbproject/private/
/JAVA/L00008_lab8/build/
/JAVA/L00008_lab8/dist/
/JAVA/L00007_lab7_taskA/build/
/JAVA/L00007_lab7_taskA/dist/
/JAVA/L00006_lab6_additional_tasks/build/
/JAVA/L00006_lab6_additional_tasks/dist/
/JAVA/Zooproject/build/
/JAVA/JCFProject/build/
/JAVA/SuperShop/nbproject/private/
/JAVA/DuckProject/nbproject/private/
/JAVA/DuckProject/build/
/JAVA/DuckProject/dist/
/JAVA/L00008_lab8 ArrayList/nbproject/private/
/JAVA/L00008_lab8_StrategyPattern/nbproject/private/
/JAVA/L00008_lab8_ArrayList/nbproject/private/
/JAVA/L00008_lab10_StrategyPattern/nbproject/private/
/JAVA/L00010_lab10_StrategyPattern/nbproject/private/
/JAVA/L00008_lab8_ArrayList/build/
/JAVA/L00008_lab8_ArrayList/dist/
/JAVA/jUnitProject/nbproject/private/
/JAVA/jUnitProject/build/
/JAVA/L00008_lab9_ArrayList/nbproject/private/
/JAVA/L00008_lab8_Massive/nbproject/private/
/JAVA/L00008_lab11_Exceptions/nbproject/private/
/JAVA/L00009_lab9_ArrayList/nbproject/private/
/JAVA/L0001_lab11_Exceptions/nbproject/private/
/JAVA/L00011_lab11_Exceptions/nbproject/private/
/JAVA/IOProject/nbproject/private/
/JAVA/IOProject/build/
/JAVA/GenericProject/nbproject/private/
/JAVA/GenericProject/build/
/JAVA/L00009_lab9_ArrayList/build/
/JAVA/SimpleThreadProject/nbproject/private/
/JAVA/SimpleThreadProject/build/